<!-- Desktop Header -->
<div class = "desktop">
    <img class = "uniQon_logo" src = "{{ site.baseurl }}/assets/uniQon_logo.svg">
    <div class = "title">uniQon</div>
    <div class = "navigator">
        {% assign sorted = site.data.sitemap | reverse %}
        {% for item in sorted %}
            {% if page.url == item.url %}
                <div class = a-wrapper><a class = "current">{{ item.title }}</a></div>
            {% else %}
                <div class = a-wrapper><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class = "botton_wrapper">
        <a href = "/signin"><div class = "button color_1 unauth">SIGN IN</div></a>
        <a href = "/signup"><div class = "button color_2 unauth">SIGN UP</div></a>
        <a href = "/mypage"><div class = "button color_1 auth">MY PAGE</div></a>
        <div class = "button color_2 auth" id = "signout-button">SIGN OUT</div>
    </div>
    <!-- Check Logged In -->
    <script async src = "{{ site.baseurl }}/assets/js/loginCheckHeader.js"></script>
</div>