@import "normalize"; // Reset browser's default CSS Setting
@import "NotoSansKR";

body {
  background: #ffffff;
  color: #000000;
  font-family: "Noto Sans KR","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
