<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    <!-- General Settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>

    <!-- Appearance -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <!-- favicons -->
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico">
  </head>
  <body>
    <script async src="{{ site.baseurl }}/assets/js/renew.js"></script>
    <header>
      {% include header.html %}
    </header>
    <div class = "container">
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
